.download {
    position: relative;
    padding: 70px 0 72px;

    &__header {
        margin-bottom: 35px;
    }

    &__title {
        margin-bottom: 14px;
    }

    &__img {
        position: absolute;
        width: 650px;
        top: 10px;
        right: 0;
    }

    &__inner {
        width: 50%;
        margin-left: 70px;
    }
}

.stores {
    @include myFlex;
    justify-content: flex-start;
}

.store {
    @include store-badge;
    margin-right: 30px;

    &__text {
        @include myFlex;
        flex-direction: column;
        align-items: flex-start;

        div {
            line-height: 1.1;
        }

        &--upper {
            font-size: 11px;
        }

        &--lower {
            font-weight: bold;
            text-transform: capitalize;
            font-size: 17px;
        }
    }

    &__pic {
        font-size: 30px;
        margin-right: 10px;
    }
}

// ! media

@media (min-width: 1400px) {
    .download__img {
        right: 5%;
    }
}

@media (min-width: 1500px) {
    .download__img {
        right: 7%;
    }
}

@media (min-width: 1500px) {
    .download__img {
        right: 10%;
    }
}

@media (min-width: 1620px) {
    .download__img {
        right: 12%;
    }
}

@media (min-width: 1790px) {
    .download__img {
        right: 15%;
    }
}

@media (min-width: 1900px) {
    .download__img {
        right: 17%;
    }
}

@media (min-width: 2000px) {
    .download__img {
        right: 19%;
    }
}

@media (max-width: 1200px) {
    .download__img {
        width: 650px;
    }
}

@media (max-width: 1150px) {
    .download__inner {
        width: 45%;
        margin-left: 70px;
    }
}

@media (max-width: 1050px) {
    .download__img {
        top: 57px;
        width: 540px;
    }
}

@media (max-width: 863px) {
    .store:first-child {
        margin-bottom: 15px;
    }
}

@media (max-width: 850px) {
    .download__img {
        top: 80px;
    }
}

@media (max-width: 810px) {
    .download__inner {
        width: 45%;
        margin-left: 50px;
    }

    .download__img {
        width: 450px;
        top: 100px;
    }
}

@media (max-width: 800px) {
    .download {
        margin-bottom: 365px;
    }

    .download__inner {
        width: 80%;
        margin-left: 10%;
    }

    .download__img {
        top: 90%;
        width: 100%;
        left: -5%;
    }

    .store:first-child {
        margin-bottom: 0;
    }
}

@media (max-width: 790px) {
    .download {
        margin-bottom: 355px;
    }
}

@media (max-width: 700px) {
    .download {
        margin-bottom: 320px;
    }
}

@media (max-width: 650px) {
    .download {
        margin-bottom: 290px;
    }
}

@media (max-width: 600px) {
    .download {
        margin-bottom: 270px;
    }

    .stores {
        justify-content: space-between;
    }

    .store:nth-of-type(2) {
        margin-right: 0;
    }
}

@media (max-width: 500px) {
    .download {
        margin-bottom: 212px;
    }
}

@media (max-width: 475px) {
    .stores {
        justify-content: center;
    }

    .store {
        width: 60%;
        margin-right: 0;
        margin-bottom: 20px !important;
    }
}

@media (max-width: 390px) {
    .store {
        width: 80%;
    }
}
