.sitefooter {
    text-align: center;
    padding: 70px;
    background-color: #09142e;
    color: #fff;

    &__brand {
        display: inline-block;
    }

    &__icon {
        width: 85px;
        margin-bottom: 25px;
    }

    &__list {
        justify-content: center;

        .navlist__item:first-child {
            margin-left: 0;
        }
    }

    &__navlist {
        margin-bottom: 30px;

        .navlist__link {
            color: #ddd;
            font-size: 17px;
            position: relative;
            z-index: 11;

            &:hover {
                color: yellow;
            }

            &::after {
                content: "";
                z-index: -1;
                display: block;
                position: absolute;
                left: 0;
                bottom: -3px;
                width: 40%;
                height: 2px;
                background-color: #ff0;
                transform: translate(30%, -15px);
                opacity: 0;
                transition: .2s transform, .2s opacity,  .2s width;
            }

            &:hover::after {
                transform: translate(0);
                opacity: 1; 
                width: 100%;
            }
        }        
    }

    &__brands {
        margin-bottom: 40px;

        .navlist__item {
            margin-left: 25px;
        }

        i {
            font-size: 25px;
            color: #273043;
            display: inline-block;
            transition: .15s transform, .15s color;

            &.active {
                color: #ddd;
            }

            &:hover {
                color: #ff0;
                transform: scale(1.3) rotateZ(10deg);
            }
        }
    }

    &__text {
        font-size: 14px;
        color: #3a4358;
    }
}

// ! media

@media (max-width: 545px) {
    .sitefooter__navlist {
        justify-content: space-around;
        
        .navlist__item {
            width: 90%;
            margin: 0;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 5px;
            }
        }

        .navlist__link {
            display: inline-block;
        }
    }
}